/src/.vite
/src/schoolhub.app/.idea
/src/schoolhub.app/node_modules
/src/SchoolHub.API/.idea
/src/SchoolHub.API/.fleet
/src/SchoolHub.API/.env
/src/SchoolHub.API/obj
/src/SchoolHub.API/SchoolHub.API.Tests/obj
/src/SchoolHub.API/SchoolHub.API.Tests/bin
/src/SchoolHub.API/SchoolHub.API/obj